{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}</h2>

<a href='/logout'>logout</a>

<h3 id="balance">Your balance is ${{ user.balance }}</h3>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }}</h4>
    </div>
{% endfor %}
</div>

<h2 id = "sell-header">Sell a Ticket!</h2>
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="name" required>
    <label for="quantitiy">Quanitity</label>
    <input class="form-control" name="quantity" id="quantity" required>
    <label for="price">Price</label>
    <input class="form-control" name="price" id="price" required>
    <label for="date">Expiration Date</label>
    <input class="form-control" name="date" id="date" required>
    <input class="btn btn-primary" type="submit" value="Sell">
  </div>
</form>
<br>

<h2 id = "buy-header">Buy a Ticket!</h2>
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="name" required>
    <label for="quantitiy">Quanitity</label>
    <input class="form-control" name="quantity" id="quantity" required>
    <input class="btn btn-primary" type="submit" value="Buy">
  </div>
</form>
<br>

<h2 id = "update-header">Update a Ticket!</h2>
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="name" required>
    <label for="quantitiy">Quanitity</label>
    <input class="form-control" name="quantity" id="quantity" required>
    <label for="price">Price</label>
    <input class="form-control" name="price" id="price" required>
    <label for="date">Expiration Date</label>
    <input class="form-control" name="date" id="date" required>
    <input class="btn btn-primary" type="submit" value="Update">
  </div>
</form>

{% endblock %}